@import './variables.scss';
@import './articles.scss';

* {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

// Global link styles
a,
a:visited,
a:active {
    text-decoration: none;
    color: lightskyblue;
}

button {
    cursor: pointer;
    color: var(--foreground);
    border: none;
    background: none;
    padding: 0.5em;

    &:hover {
        text-shadow: var(--accent) 2px 2px 3px;
    }
}

@keyframes opacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes unblur {
    // blinking animation keyframes
    0% {
        filter: blur(10px); /* Starting with a strong blur */
    }
    50% {
        filter: blur(20px); /* Ending with no blur */
    }
    100% {
        filter: blur(0px); /* Starting with a strong blur */
    }
}

.title {
    position: relative;
    overflow: hidden;

    user-select: none;
    min-width: 100%;

    display: flex;
    flex-direction: row;
    align-items: stretch;

    font-family: 'Son Of A Glitch', sans-serif;
    font-size: 32px;
}

.container {
    max-width: $maxWidth;
    transition: transform 1s cubic-bezier(0.55, 0, 0.1, 1);
    position: relative;
    width: 90%;
    max-width: 1000px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: start;
    gap: 2em;
    animation: opacity 5s ease-out forwards;

    margin-left: auto;
    margin-right: auto;
    font-family: 'PT Sans', sans-serif;
    transform: translateY($topOffset);

    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}

.footer {
    padding: $padding;
    max-width: 100%;
    min-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3em;
    flex-wrap: wrap;
    line-height: 3em;
    color: var(--foreground);
    text-shadow: 0 1px 0 #000;
    font-size: 12px;
    white-space: nowrap;

    // media query for small screens
    @media screen and (max-width: $responsive) {
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    .a_cup_of_coffee {
        // SVG Gradient color animation
        &:hover {
            filter: drop-shadow(3px 3px 2px var(--accent));
        }
    }

    a:hover {
        text-shadow: var(--accent) 2px 2px 3px;
    }

    .repo {
        font-size: 35px;
    }
}

.main {
    padding-top: $padding;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: $padding;
    width: 100%;
    transition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1);
}

@keyframes fromtop2 {
    0% {
        opacity: 0;
        transform: translateY(300px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

// media query for small screens
@media screen and (max-width: $responsive) {
    body {
        padding-bottom: 0;
        padding-top: 0;
    }

    .container {
        transform: translateY(0);
        margin-top: 0;
        width: 100%;
    }
}
